/* Global */
body {
  font-family: 'Times New Roman', Times, serif;
}

/*
  Question
*/
.question {
  display: flex;
  flex-direction: column;
}

.question > h2 {
  color: rgb(39, 117, 53);
  text-shadow: 1px 1px 10px rgb(118, 234, 120);
}

.question > p {
  margin-left: 2rem;
  font-style: italic;
}

/*
 Input Section
 */
.input-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.input-section > :first-child {
  width: 8rem;
  text-align: left;
}

.input-section > :nth-child(2) {
  width: 10.5rem;

  border-style: dotted;
  border-width: 2px;
  border-color: rgb(87, 217, 87);
  background-color: white;
  text-align: center;
}

.input-section > :last-child {
  width: 8rem;
  text-align: right;
}

/* 
  Utility  classes 
*/

.dark-green-text {
  color: rgb(39, 117, 53);
  text-shadow: 1px 1px 10px rgb(118, 234, 120);
}

.green-text {
  color: rgb(56, 169, 77);
  text-shadow: 1px 1px 10px rgb(86, 202, 88);
}

.green-gradient-bg {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 1%,
    rgb(140, 255, 138) 70%,
    rgb(123, 255, 0) 95%
  );
}

.garden-border {
  padding: 0.5rem;
  border-style: dotted;
  border-width: 2px;
  border-color: rgb(87, 217, 87);
}
