* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkblue;
  color: aliceblue;
  text-shadow: 0 0 10px rgba(212, 255, 0, 10);

  z-index: 1000;
}

a {
  color: rgb(0, 255, 119);
}

.container {
    padding-top: 10%;
    padding-left: 10%;
  display: flex;
 
}
pre{
    width: 500px;
}

.info {
padding: 15px;
 border: 1px solid whitesmoke;
 border-radius: 20px;
}

#computer {
  left: 50%;
}
